streamlit
pandas
numpy
matplotlib
plotly
pillow

SQLAlchemy
mysql-connector-python

tensorflow
scikit-learn
joblib
textblob

ultralytics
opencv-python

groq
python-dotenv

secure-smtplib
requests
